/* Блок: footer */
.footer {
  background: #ffffff;
  padding: 5% 8%;
  font-family: "Inter", sans-serif;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__left {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer__left p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 7%;
}

.socials img {
  margin-right: 30px;
}

.footer__column {
  min-width: 180px;
}

.footer__column h2 {
  margin-bottom: 10%;
}

.footer__column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column li {
  margin-bottom: 5%;
}

.footer__column a {
  text-decoration: none;
  color: #737373;
}

.footer__column a:hover {
  color: #000000;

}
